<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation Details</title>
</head>
<body>
  <header>
   <h1>{{ anim.name }}</h1>
   <main>
         <h2>GIF Animation</h2>
        <img src="/media/{{ gif_path }} " alt="{{ anim.name }} GIF">
         
         <h2>Images</h2>
        <ul>
            {% for image in images %}
                <li><img src="{{ image.image.url }}" alt="{{ image.image.name }}"></li>
            {% endfor %}
        </ul>
   </main>
       
    
</body>
</html>
